body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 95, 95);
    margin-top: 253px;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
 
  .card {
    background-color: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    margin: 2px;
    width: 383px;
    
  } 
.search{
      display: flex;
      align-items: center;
      justify-content:center;

  }
button {
    cursor: pointer;
    transition: 0.2s ease-in-out;
        border: none;
        border-radius: 19px;
        height: 30px;
        width: 33px;
        margin: 7px;
      }
 button:hover{
          background: skyblue;
      }
 .search-bar {
        border: none;
        border-radius: 32px;
        height: 13px;
        width: 100%;
        background-color: #8080803b;
        color: white;
        outline: none;
        font-family: inherit;
        padding: 12px;
      }
  h1.temp{
      margin: 0px;
  }
  .description{
    text-transform: capitalize;
  }
  .flex{
    display: flex;
    align-items: center;
  }
  .weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  .weather.loading::after{
    visibility: visible;
    content: "Type city name...";
    color: white;
    position: absolute;
    top: 0%;
      }